registry=https://artifactory.svc.corp.adcinternal.com/artifactory/api/npm/oe-npm/
strict-ssl=false
engine-strict=true
# Makes "~" the default prefix for an npm install rather than "^". "~" will make it so that npm can only automatically upgrade
# to patch releases instead of crossing minor versions like "^" does.
# See https://docs.npmjs.com/about-semantic-versioning#using-semantic-versioning-to-specify-update-types-your-package-can-accept
save-prefix="~"
node-options=--max-old-space-size=8192 --experimental-vm-modules
